.import-btn {
    background-color: limegreen;
}

.import-btn:hover {
    background-color: greenyellow;
}

.btn {
    margin: 6px 8px 6px 0px;
    padding: 6px 10px 6px 10px;
    border-radius: 5px;
}
